<header class="header">
  <h1 class="logo">
    <a href="#" class="logo-link">
      <img src="/images/logo.jpg" width="100px" alt="Power ranger">
    </a>
  </h1>
  <ul class="menu">
    <li class="menu-item"><a href="#" class="menu-link">Link1</a></li>
    <li class="menu-item"><a href="#" class="menu-link">Link2</a></li>
    <li class="menu-item"><a href="#" class="menu-link">Link3</a></li>
    <li class="menu-item has-submenu">
      <a href="#" class="menu-link">Link4</a>
      <ul class="submenu">
        <li class="menu-item"><a href="#" class="menu-link">Sublink1</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Sublink2</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Sublink3</a></li>
      </ul>
    </li>
  </ul>
</header>